<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hiragana Practice</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="context">
        <div>
            <h1>Hiragana (ひらがな)</h1>
        </div>
        <div class="menu">
            <ul>
                <li id="table"><a href="/hiragana/table">Table</a></li>
                <li id="start"><a href="/hiragana/start">Practice</a></li>
            </ul>
        </div>
    </div>
    <div th:replace="~{fragments/common :: background}"></div>
</body>

</html>