<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>japlearn</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="context">
        <h1>Welcome to a small Japanese learning tool!</h1>
        <h2>This app contains flashcards to practice hiragana, katakana and the Joyō kanji.</h2>
        <div class="menu">
            <ul>
                <li><a href="/hiragana">Hiragana</a></li>
                <li><a href="/katakana">Katakana</a></li>
                <li><a href="/kanji">Kanji</a></li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/common :: background"></div>
</body>

</html>